<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.nachojang.mapper.CartMapper">

	<select id="selectCartList" resultType="Map">
		SELECT
		gf.goods_file_name AS goodsFileName,
		gf.goods_file_ext AS goodsFileExt,
		g.goods_title AS goodsTitle,
		c.cart_amount AS cartAmount,
		g.goods_price AS goodsPrice,
		(c.cart_amount * g.goods_price) AS totalPrice
		FROM cart c
		INNER JOIN goods g ON c.goods_no = g.goods_no
		LEFT JOIN (SELECT goods_no, MIN(goods_file_name) AS goods_file_name,
		MIN(goods_file_ext) AS goods_file_ext FROM goods_file GROUP BY
		goods_no) gf ON gf.goods_no = g.goods_no
		<where>
			<if test="customerMail != null and customerMail != ''">
				c.customer_mail = #{customerMail}
			</if>
		</where>
	</select>

	


</mapper>