<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.nachojang.mapper.GoodsFileMapper">

	<!-- 상품 추가 시 파일 추가 : staff/on/addGoods -->
	<insert id="insertGoodsFile"
			parameterType="com.example.nachojang.vo.GoodsFile">
		INSERT INTO goods_file (
			goods_no
			, goods_file_name
			, goods_file_origin
			, goods_file_ext
			, goods_file_type
			, goods_file_size
		) VALUES (
			#{goodsNo}, #{goodsFileName}, #{goodsFileOrigin}, #{goodsFileExt}, #{goodsFileType}, #{goodsFileSize} 
		)
	</insert>
</mapper>