<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.nachojang.mapper.GoodsFileMapper">

	<!-- 우림_상품 추가 시 파일 추가 : staff/on/addGoods -->
	<insert id="insertGoodsFile"
			parameterType="com.example.nachojang.vo.GoodsFile">
		INSERT INTO goods_file (
			goods_no
			, goods_file_name
			, goods_file_origin
			, goods_file_ext
			, goods_file_type
			, goods_file_size
		) VALUES (
			#{goodsNo}, #{goodsFileName}, #{goodsFileOrigin}, #{goodsFileExt}, #{goodsFileType}, #{goodsFileSize} 
		)
	</insert>
	
	<select id="selectGoodsFile" parameterType="Integer" resultType="com.example.nachojang.vo.GoodsFile">
		SELECT
			goods_no goodsNo 
			, goods_file_name goodsFileName
			, goods_file_origin goodsFileOrigin
			, goods_file_ext goodsFileExt
			, goods_file_type goodsFileType
			, goods_file_size goodsFileSize
			, update_date updateDate
			, create_date createDate
		FROM goods_file
		WHERE goods_no = #{goodsNo};
	</select>
	
	<update id="updateGoodsFile" parameterType="com.example.nachojang.vo.GoodsFile">
		UPDATE goods_file
		SET
			goods_file_name = #{goodsFileName}
			, goods_file_origin = #{goodsFileOrigin}
			, goods_file_ext = #{goodsFileExt}
			, goods_file_type = #{goodsFileType}
			, goods_file_size = #{goodsFileSize}
		WHERE goods_no = #{goodsNo};
	</update>
</mapper>