<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.nachojang.mapper.PaymentMapper">
	
	<!-- 세영) 결제 완료 -->
	<insert id="insertPayment" parameterType="com.example.nachojang.vo.Payment" useGeneratedKeys="true" keyProperty="paymentNo">
		INSERT INTO payment(
			address_no
			, payment_price
			, payment_method
		) VALUES (
			#{addressNo}
			, #{paymentPrice}
			, #{paymentMethod}
		)
	</insert>
	
	<!-- 세영) 결제완료창 -->
	<select id="completePayment" parameterType="Integer" resultType="Map">
		SELECT
			o.orders_no ordersNo
			, o.create_date createDate
			, a.address_detail addressDetail
			, p.payment_price paymentPrice
			, p.payment_method paymentMethod
		FROM orders o 
		JOIN payment p ON p.payment_no = o.payment_no
		JOIN address a ON a.address_no = p.address_no
		WHERE p.payment_no = #{paymentNo}
	</select>
	
	<!-- 세영) 배송현황 수정 -->
	<update id="updatePaymentState" parameterType="com.example.nachojang.vo.Payment">
		UPDATE payment 	
		SET payment_state = #{paymentState}
		WHERE payment_no = #{paymentNo}
	</update>
	
	</mapper>